<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

       <menuitem
        id="customer_menu"
        name="Customers"
        parent="contacts.res_partner_menu_contacts"
        action="famti.action_customers"
        sequence="2"/>

        <menuitem
        id="vendors_menu"
        name="Vendors"
        parent="contacts.res_partner_menu_contacts"
        action="famti.action_vendors"
        sequence="3"/>

        <record id="stock.menu_action_production_lot_form" model="ir.ui.menu">
            <field name="name">Serial Numbers</field>
        </record>

    </data>
</odoo>